* {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: hsl(30, 38%, 92%);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	height: 50vh;
	width: 70vh;
	background-color: white;
	border-radius: 0.6em;
}

.parfume-picture {
	height: 50vh;
	border-radius: 0.6em 0 0 0.6em;
}

.parfume-card {
	padding: 1.5em;
}

.type {
	color: hsl(228, 12%, 48%);
	font-weight: 500;
	margin-bottom: 0.5em;
	font-size: 14px;
}

.parfume-name {
	color: hsl(212, 21%, 14%);
	font-size: 1.8em;
	line-height: 1em;
	font-family: "Fraunces";
	margin: 0.5em 0;
}

.description {
	line-height: 1.5em;
	font-size: 13px;
	color: hsl(228, 12%, 48%);
	margin-bottom: 1em;
}

.price {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.discount {
	font-family: "Fraunces";
	color: hsl(158, 36%, 37%);
}

.actual {
	font-size: 12px;
	margin-left: 1em;
	margin-top: 0.6em;
	text-decoration: line-through;
	color: hsl(228, 12%, 48%);
}
